.headerIcons {
  align-items: center;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
}

.footer {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 100px;
  justify-content: center;
  line-height: 100px;
  position: fixed;
  width: 100%;
}

.recommendation {
  background-color: #333;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.startbtn {
  bottom: 0;
  position: fixed;
}

.checkbox:checked {
  text-decoration: line-through solid black;
}
label {
  text-decoration: none;
}
